@model CompanyVM

<div class="card-shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Company.Id != Guid.Empty ? "Update" : "Create") Company</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Upsert" method="post" enctype="multipart/form-data" class="row">
            <input asp-for="Company.Id" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3 mt-4">
                        <div class="row pb-2">
                            <hr />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company.Name" class="pb-3"></label>
                            <input asp-for="Company.Name" class="form-control" />
                            <span asp-validation-for="Company.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company.StreetAddress" class="pb-3"></label>
                            <input asp-for="Company.StreetAddress" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company.City" class="pb-3"></label>
                            <input asp-for="Company.City" class="form-control" />
                            <span asp-validation-for="Company.City" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company.State" class="pb-3"></label>
                            <input asp-for="Company.State" class="form-control" />
                            <span asp-validation-for="Company.State" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company.PostalCode" class="pb-3"></label>
                            <input asp-for="Company.PostalCode" class="form-control" />
                            <span asp-validation-for="Company.PostalCode" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company.PhoneNumber" class="pb-3"></label>
                            <input asp-for="Company.PhoneNumber" class="form-control" />
                            <span asp-validation-for="Company.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <button type="submit" class="btn btn-success form-control">
                                    @(Model.Company.Id != Guid.Empty ? "Update" : "Save")
                                </button>
                            </div>
                            <div class="mb-3 col-md-6">
                                <a asp-area="admin" asp-controller="Company" asp-action="Index" class="btn btn-secondary form-control">Back to Company List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}