@model ProductVM

<div class="card-shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Product.Id != default ? "Update" : "Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Title" class="pb-3"></label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Description" class="pb-3"></label>
                    <textarea asp-for="Product.Description" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ISBN" class="pb-3"></label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Author" class="pb-3"></label>
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ListPrice" class="pb-3"></label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price" class="pb-3"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price50" class="pb-3"></label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price100" class="pb-3"></label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.CategoryId" class="pb-3"></label>
                    <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>-- Select Category --</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ImageUrl" class="pb-3"></label>
                    <input type="file" name="file" class="form-control" />
                    <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label>Preview Image:</label>
                    <img src="@Url.Content(Model.Product.ImageUrl)" alt="Product Image" class="img-thumbnail" width="150" />
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        @if (Model.Product.Id != default)
                        {
                            <button type="submit" class="btn btn-success form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success form-control">Save</button>
                        }
                    </div>
                    <div class="mb-3 col-md-6">
                        <a asp-area="admin" asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">Back to Product List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}